{% extends "base.html" %}

{% block title %}
    JIRA Script Menu
{% endblock %}

{% block head %}
    <style>
        .element-block{
            width: 600px;
        }

    </style>
{% endblock %}

{% block content %}
    {{ block_header('Menu links') }}
    <div style="padding: 20px;">

        &bull; <a href="/timeline">Order Repair Timeline</a><br>
        &bull; <a href="/multiorder">Multiple Order Timeline</a><br>
        &bull; <a href="/repair">Repair Time Summary</a><br>
        <br>
        ARC Tester Chome Extension<br>
        &bull; <a href="static/manifest.json">manifest.json</a> <br>
        &bull; <a href="static/content.js">content.js</a> <br>

    </div>
    {{ block_footer() }}
{% endblock %}


{% block script %}
{% endblock %}