<!-- timeline.html -->
{% extends "base.html" %}

{% block title %}Order Repair Timeline{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0"></script>
<script>
    Chart.register(window['chartjs-plugin-annotation']);
</script>


    <style>
        #timeline-form {
            margin-bottom: 20px;
        }
        
        #rt-selection {
            width: 200px;
            height: 25px;
            font-size: 16px;
            padding: 5px;
        }
        .element-block{
            width: 90%;
            height: 90%;
        }
        .serial-div-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .serial-div {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block_header('Order Repair Timeline') }}
        <form id="rt-form">
            <label for="rt_number">Select RT Number:</label>
            <select id="rt_number" name="rt_number">
                <option value="">Loading...</option>
            </select>
            <button type="button" id="load-button">Load Order</button>
            <button type="button" id="update-button">Update Order</button>
            <input type="radio" id="option1" name="radio-group" value="Totals" checked>
            <label for="option1">Totals</label>
            <input type="radio" id="option2" name="radio-group" value="Changes">
            <label for="option2">Changes</label>
        </form>
        <div style="position: relative; height: 100%; width: 100%;">
            <canvas id="timeline-chart"></canvas><br>
        </div>
        <div style="display: flex; align-items: center; gap: 8px;">
            <progress id="progressBar" value="0" max="1" style="width: 100%; display: none;"></progress>
            <span id="progressLabel" style="font-size: 12px; display: none;"></span>
        </div>
        <div id="chart-info" style="margin-top: 20px;"></div>
        <textarea id="response" readonly style="display: none;"></textarea>
    {{ block_footer() }}
{% endblock %}

{% block script %}
    <script src="static/loadOrders.js"></script>
    <script src="static/timeline.js"></script>
{% endblock %}