<!-- timeline.html -->
{% extends "base.html" %}

{% block title %}Order Repair Timeline{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.4.0"></script>
<script>
    Chart.register(window['chartjs-plugin-annotation']);
</script>


    <style>
        #timeline-form {
            margin-bottom: 20px;
        }
        
        #rt-selection {
            width: 200px;
            height: 25px;
            font-size: 16px;
            padding: 5px;
        }
        .element-block{
            width: 90%;
            height: 90%;
        }
        .serial-div-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .serial-div {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block_header('Order Repair Timeline') }}
        <form id="rt-form">
            <label for="rt_number">Select RT Number:</label>
            <select id="rt_number" name="rt_number">
                <option value="">Loading...</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        <div style="position: relative; height: 100%; width: 100%;">
            <canvas id="timeline-chart"></canvas><br>
            <div id="chart-info" style="margin-top: 20px;"></div>
        </div>
    {{ block_footer() }}
{% endblock %}

{% block script %}
    <script src="static/timeline.js"></script>
{% endblock %}